body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  .container {
    display: flex;
    flex-wrap: wrap;
    padding: 20px;
    gap: 20px;
  }
  
  .section {
    flex: 1 1 calc(50% - 20px);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 1px solid #ddd;
    padding: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
  }
  
  .section img {
    max-width: 100%;
    height: auto;
    border-radius: 8px;
  }
  
  .section h3 {
    font-size: 1.2em;
    margin: 10px 0;
  }
  
  .table-container {
    flex: 1 1 100%;
    overflow-x: auto;
    border: 1px solid #ddd;
    padding: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
  }
  
  table {
    width: 100%;
    border-collapse: collapse;
  }
  
  table th, table td {
    padding: 10px;
    text-align: left;
    border: 1px solid #ddd;
  }
  
  table th {
    background-color: #f4f4f4;
    font-weight: bold;
  }
  
  @media (max-width: 768px) {
    .section {
        flex: 1 1 100%;
    }
  }
  
  @media (max-width: 480px) {
    .section h3 {
        font-size: 1em;
    }
  }

  .Logo-360{
    width: 30%;
    margin-left: 35%;
  }

  .Sheet-img{
    width: 30%;
  }