*{margin: 0;padding: 0;box-sizing: border-box;}

.one{text-align: center;margin: auto;font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;font-size: 45px;margin-top: 30px;background-color: crimson;color: white;display: inline-block;margin-left: 610px;}

.two{background-color: cadetblue;color:black;border: 5px solid rgb(189, 168, 12);text-align: center;}

.three{background-color: chocolate;color: yellow;font-size: 55px;font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;text-align: center;}

button{width: 13%;height: 45px;border-radius: 25px;margin-left: 670px;font-size: 22px;background-color: yellowgreen;border: 2px solid yellowgreen;color: white;}

input{width: 14%;height: 38px;text-align: center;font-size: 17px;margin-left: 660px;}