@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&family=Ubuntu:wght@300&display=swap');
html, body {
  height: 100%;
  width: 100%;
  font-family: 'Roboto', sans-serif; 
}

#main-calculator{
  width: 32%;
  height: 84%;
  background-color: rgba(0, 0, 0, 0.791);
  border-radius: 20px;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.button{
  width: 100px;
  padding: 20px;
  margin: 0 3px;
  border: 2px solid black;
  border-radius: 9px;
  cursor: pointer;
  font-size: 30px;
  font-weight: bold;
}

.button-eqal{
  width: 100px;
  padding: 20px;
  margin: 0 3px;
  border: 2px solid black;
  border-radius: 9px;
  cursor: pointer;
  font-size: 30px;
  font-weight: bold;
  background-color: rgb(200, 173, 67);
}

.row{
  margin: 8px 0;
}
.row input{
  width: 410px;
  height: 60px;
  border-radius: 30px;
  font-size: 35px;
  background-color: rgb(154, 158, 163);
    margin: 0;
    margin-top: 3%;
    padding: 10px 0px;
    border: 2px solid black;
    border-radius: 5px;
    text-align: center;
    font-weight: bold;
}

.text-center{
    text-align: center;
  }
  
  .mx-auto{
    margin: auto;
  }
  
  .flex{
    display:flex;
  } 
  .flex-col{
    flex-direction: column;
  }
  
  .items-center{
    align-items: center;
  }